.iphone7 {
    float: left;
    border: 1px solid;
    width: 231px;
    height: 470PX;
    background-color: black;
    border-radius: 34px;
}

.screen {
    position: absolute;
    top: 63px;
    left: 21px;
    width: 205px;
    height: 364px;
    background-color: white;
}

.circle01 {
    position: absolute;
    top: 22px;
    left: 121px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
}

.circle02 {
    position: absolute;
    top: 34px;
    left: 80px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
}

.circle03 {
    position: absolute;
    top: 435px;
    left: 107px;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: 2px solid white;
}

.line {
    position: absolute;
    top: 36px;
    left: 103px;
    width: 42px;
    height: 3px;
    border-radius: 15%;
    background-color: white;
}

.button01 {
    float: left;
    position: absolute;
    top: 62px;
    left: 6px;
    width: 2px;
    height: 20px;
    border-radius: 2px;
    background-color: black
}

.button02 {
    float: left;
    position: absolute;
    top: 100px;
    left: 6px;
    width: 2px;
    height: 35px;
    border-radius: 3px;
    background-color: black
}

.button03 {
    float: left;
    position: absolute;
    top: 140px;
    left: 6px;
    width: 2px;
    height: 35px;
    border-radius: 3px;
    background-color: black
}

.button04 {
    float: left;
    position: absolute;
    top: 90px;
    left: 241px;
    width: 2px;
    height: 32px;
    border-radius: 3px;
    background-color: black
}


/* iframe 設定 */

h1 {
    font-size: 48px;
}

hr {
    border: 0;
    width: 90%;
    height: 1px;
    background-color: #d4d4d4;
}

.jumbotron {
    background-color: #9dd3e0;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    color: white;
}

.tumbnail {
    border: 1px solid #ddd;
    text-align: center;
    padding: 20px;
}

.tumbnail img {
    width: 80%;
    border-radius: 50px 0px;
}

.btn {
    position: relative;
    top: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}

.btn-lg {
    width: 80px;
    height: 30px;
    line-height: 30px;
}

.btn-primary {
    background-color: rgba(253, 159, 34, 0.85);
}


/* 連結不變色 */

a,
a:link,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ff4949;
}
