/*
所有標籤基礎設定
*/

* {
    box-sizing: border-box;
    letter-spacing: 1px;
}


/*
基本標籤 reset padding margin
*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
body,
artice,
div {
    padding: 0px;
    margin: 0pex;
}


/*
常用圖片設定
*/
