/*
Header
*/

header {
    background-image: url(https://c1.staticflickr.com/4/3676/9136661560_9238d692d2_h.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    padding: 20px;
    color: #123;
}


/*
引文
*/

blockquote {
    background-image: url(../images/icon-quote.png);
    background-size: 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}


/*
縮圖區塊設定
*/

.thumbnail {
    width: calc(25% - 20px);
    float: left;
    margin: 10px;
}

.thumbnail-img {
    width: 100%;
}

.caption-title {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.caption-body {
    line-height: 1.5;
}

.caption-btn {
    text-decoration: none;
}

.caption-btn {
    display: block;
    font-size: 16px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #676D79;
    border-radius: 5px;
}

.caption-btn:link {
    color: white;
    background-color: #676D79;
}

.caption-btn:visited {
    color: white;
    background-color: #676D79;
}

.caption-btn:hover {
    color: white;
    background-color: #676D79;
}

.caption-btn:active {
    color: white;
    background-color: #676D79;
}


/* 選單設定 */

nav {
    width: 100%;
    background-color: #60d1c0;
    color: white;
    overflow: auto;
    text-align: center;
}

nav ul {
    padding: 10px;
}

nav>ul>li {
    width: 100px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    border: 1px solid;
    display: inline-block;
}


/* 連結不變色 */

a,
a:link,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #f5ffaa;
}
